<div class="container mx-auto my-8 p-4">
  <div class="bg-white p-8 rounded-lg shadow-md max-w-2xl mx-auto">
    <h2 class="text-2xl font-semibold mb-6">Create Your Story</h2>

    <form id="create-story" >
      <!-- Title Input -->
      <div class="mb-6">
        <label for="title" class="block text-sm font-medium text-gray-700"
          >Title</label
        >
        <input
          type="text"
          id="writings-story-title"
          name="title"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md"
          placeholder="Enter your story title"
          required
        />
      </div>

      <!-- Description Input -->
      <div class="mb-6">
        <label for="description" class="block text-sm font-medium text-gray-700"
          >Description</label
        >
        <textarea
          id="writings-story-description"
          name="description"
          rows="4"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md"
          placeholder="Enter a description for your story"
          required
        ></textarea>
      </div>

      <!-- Cover Image URL Input -->
      <div class="mb-6">
        <label for="cover_image" class="block text-sm font-medium text-gray-700"
          >Cover Image URL</label
        >
        <input
          type="text"
          id="writings-story-cover-image-url"
          name="title"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md"
          placeholder="Enter the URL"
          required
        />
      </div>

      <!-- Cover Image Upload -->
      <!-- <div class="mb-6">
        <label class="block text-sm font-medium text-gray-700"
          >Cover Image</label
        >
        <div class="mt-1 flex items-center">
          <span
            class="inline-block h-20 w-20 rounded-full overflow-hidden bg-gray-100"
          >
            <svg
              class="h-full w-full text-gray-300"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path d="M24 0v24H0V0h24zm-3 9l-3-4-4 5H7l-3 4h13l4-5h3z" />
            </svg>
          </span>
          <input
            type="file"
            name="cover_image"
            id="cover-image"
            class="ml-5 bg-white p-2 border border-gray-300 rounded-md"
            accept="image/*"
          />
        </div>
      </div> -->

      <!-- Submit Button -->
      <div class="text-right">
        <button
          type="submit"
          class="rounded-md bg-gray-900 px-6 py-2 text-sm font-medium text-white"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
