<div class="max-w-3xl mx-auto shadow-lg rounded-lg overflow-hidden my-8">
  <!-- Cover Image -->
  <div class="flex justify-center mt-8 h-96">
    <div
      id="cover-image"
      class="h-96 w-80 bg-cover bg-center rounded-lg overflow-hidden shadow-md"
    >
      <img
        src="{{coverImageUrl}}"
        alt="Cover Image"
        class="w-full h-full object-cover"
      />
    </div>
  </div>

  <!-- Content -->
  <div class="p-6 text-center">
    <!-- Topic -->
    <h2 id="story-topic" class="text-3xl font-bold mb-4 text-orange-700">
      {{topic}}
    </h2>
    <!-- Author -->
    <p id="story-author" class="text-gray-700 mb-4">
      <span class="font-semibold text-orange-700">Author:</span> {{author}}
    </p>
    <!-- Genre -->
    <p id="story-genre" class="text-gray-700 mb-4">
      <span class="font-semibold text-orange-700">Genre:</span> {genreList}
    </p>
    <!-- Ratings -->
    <div class="flex justify-center items-center mb-4" id="story-ratings">
      {ratings}
    </div>
    <!-- Description -->
    <p id="story-description" class="text-orange-700 font-semibold">
      Description : {{description}}
    </p>

    <button
      id="start-reading-button"
      class="bg-orange-700 text-white font-bold text-lg hover:bg-orange-900 p-2 mt-8 cursor-pointer"
    >
      Start Reading
    </button>
    <button
      id="add-to-library-button"
      class="bg-orange-700 text-white font-bold text-lg hover:bg-orange-900 p-2 mt-8 cursor-pointer"
    >
      Add to Library
    </button>
    <!-- Comments Section -->
    <h3 class="text-2xl font-bold mb-4 text-orange-600">Comments:</h3>
    <div id="comments-section" class="space-y-4 text-left">{comments}</div>
    <!-- Add a comment -->
    <div class="mt-8">
      <textarea
        id="comment-input"
        class="w-full p-2 border rounded mb-4"
        rows="3"
        placeholder="Add a comment..."
      ></textarea>
      <button
        id="add-comment-button"
        class="bg-orange-700 text-white font-bold text-lg hover:bg-orange-900 p-2 cursor-pointer"
      >
        Add Comment
      </button>
    </div>
  </div>
</div>
