<nav class="bg-white">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between">
      <div class="flex flex-shrink-0 items-center" >
        <a href=""><img src="/logo.png" alt="Logo" class="h-16 md:h-20" /></a>
      </div>

      <!-- Center Menu Items -->
      <div class="flex-1 flex justify-center items-center space-x-4">
        <a
          href=""
          class="flex items-center space-x-2 text-sm font-medium text-primary" id="logo-icon"
        >
          <span class="material-icons">home</span>
          <span>Home</span>
        </a>
        <a
          href=""
          class="flex items-center space-x-2 text-sm font-medium text-primary"
          id="view-library"
        >
          <span class="material-icons">library_books</span>
          <span>Library</span>
        </a>
        <a
          href=""
          class="flex items-center space-x-2 text-sm font-medium text-primary"
          id="start-writing-button"
        >
          <span class="material-icons">edit</span>
          <span>Write</span>
        </a>
      </div>

      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <!-- Profile dropdown -->
        <div class="relative ml-10">
          <button
            type="button"
            class="relative flex rounded-full bg-secondary text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-secondary"
            id="user-menu-button"
            aria-expanded="false"
            aria-haspopup="true"
          >
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">Open user menu</span>
            <img class="h-10 w-auto rounded-full" src="/profile.jpeg" alt="" />
          </button>

          <div
            id="dropdown-menu"
            class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
          >
            <a
              href=""
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="user-menu-profile"
              >Your Profile</a
            >
            <a
              href="/settings"
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="view-settings"
              >Settings</a
            >
            <a
              href=""
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="user-menu-signout"
              >Sign out</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div
  class="relative bg-cover bg-center h-screen"
  style="background-image: url('/bg-img.webp')"
>
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div
    class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white"
  >
    <h1
      class="text-4xl md:text-6xl font-bold mb-6 animate-typewriter overflow-hidden whitespace-nowrap"
    >
      Discover and Create Stories
    </h1>
    <form class="w-full max-w-md">
      <label for="default-search" class="sr-only">Search</label>
      <div class="relative">
        <input
          type="search"
          id="default-search"
          class="block w-full p-3 pl-4 text-sm text-gray-900 border border-gray-300 rounded-3xl bg-gray-50 focus:ring-primary focus:border-primary"
          placeholder="Search stories"
          required
        />
        <button
          type="submit"
          class="absolute right-2 top-2 bg-primary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-tertiary text-white font-medium rounded-full p-2"
          id="search-button"
        >
          <svg
            class="w-4 h-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m21 21-5.197-5.197M18 10.5A7.5 7.5 0 1 0 3 10.5a7.5 7.5 0 0 0 15 0Z"
            />
          </svg>
          <span class="sr-only">Search</span>
        </button>
      </div>
    </form>
  </div>
</div>

<section class="mt-12 px-8 mb-12 text-center">
  <h2 class="text-2xl md:text-5xl font-semibold mb-12 text-primary">
    Browse Stories
  </h2>
  <div class="flex flex-col md:flex-row mx-4 lg:mx-20">
    <!-- Filter Section -->
    <aside class="w-full md:w-1/4 pr-8 mb-8 md:mb-0">
      <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-lg font-semibold mb-4 text-secondary">Filters</h3>
        <div>
          <label class="block mb-2">Genres</label>
          <select
            id="genre-filter"
            class="w-full p-2 border border-secondary rounded"
          >
            <option value="">All</option>
            <!-- Populate with genres dynamically -->
          </select>
        </div>
        <div class="mt-4">
          <label class="block mb-2">Ratings</label>
          <select id="rating-filter" class="w-full p-2 border rounded">
            <option value="">All</option>
            <option value="1">1 star & up</option>
            <option value="2">2 stars & up</option>
            <option value="3">3 stars & up</option>
            <option value="4">4 stars & up</option>
            <option value="5">5 stars</option>
          </select>
        </div>

        <button
          id="apply-filters"
          class="mt-4 w-full bg-primary text-white p-2 rounded hover:bg-secondary"
        >
          Apply Filters
        </button>
      </div>
    </aside>

    <!-- Story Cards Section -->
    <div
      class="w-full md:w-3/4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-12"
      id="story-cards-container"
    >
      <!-- story cards inserted dynamically -->
    </div>
  </div>
</section>
