<div
  class="relative min-h-screen flex items-center justify-center bg-cover bg-center bg-no-repeat"
  style="
    background-image: url('https://images.unsplash.com/photo-1630948197497-3c0de9d73ad2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ym9vayUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D');
  "
>
  <!-- Blurred background overlay -->
  <div class="absolute inset-0 bg-black opacity-80"></div>

  <!-- SignUp Section -->
  <div class="relative z-10 w-full max-w-screen-sm p-8 bg-white rounded-lg shadow-lg">
    <div class="flex justify-center md:justify-start pb-8">
      <a href="#">
        <img src="/logo.png" alt="Logo" class="h-16 md:h-20">
      </a>
    </div>
    <p class="text-center text-3xl md:text-4xl text-orange-700">Join Reader's Hub</p>
    <form id="signup-form" class="flex flex-col pt-3 md:pt-8">
      <div class="flex flex-col pt-4">
        <label for="username" class="text-lg text-orange-700">Username</label>
        <input
          id="usernameInput"
          placeholder="Username"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="flex flex-col pt-4 md:flex-row md:space-x-4 justify-between">
        <div class="flex flex-col pt-4 md:pt-0">
          <label for="firstName" class="text-lg text-orange-700">First Name</label>
          <input
            id="firstNameInput"
            placeholder="First Name"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="flex flex-col pt-4 md:pt-0">
          <label for="lastName" class="text-lg text-orange-700">Last Name</label>
          <input
            id="lastNameInput"
            placeholder="Last Name"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
      </div>
      <div class="flex flex-col pt-4">
        <label for="email" class="text-lg text-orange-700">Email</label>
        <input
          type="email"
          id="emailInput"
          placeholder="your@email.com"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="flex flex-col pt-4">
        <label for="password" class="text-lg text-orange-700">Password</label>
        <input
          type="password"
          id="passwordInput"
          placeholder="Password"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="flex flex-col pt-4">
        <label for="bio" class="text-lg text-orange-700">Bio</label>
        <textarea
          id="bioInput"
          placeholder="Tell us about yourself"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
        ></textarea>
      </div>
      <div class="flex flex-col pt-4">
        <label for="profilePicture" class="text-lg text-orange-700">Profile Picture</label>
        <input
          type="file"
          id="profilePictureInput"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
        />
      </div>
      <input
        type="submit"
        value="Sign Up"
        class="bg-orange-700 text-white font-bold text-lg hover:bg-orange-900 p-2 mt-8 cursor-pointer"
      />
    </form>
    <div class="text-center pt-12 pb-12 text-orange-700">
      <p>
        Already have an account?
        <a href="" class="underline font-semibold" id="login-link">Log In here.</a>
      </p>
    </div>
  </div>
</div>
